*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.contenedor {
    width: 100%;
    height: 100vh;
    background: url(../Imagenes/modelo4.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    
    box-sizing: border-box;
}
.encabezado{
    height: 15%;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px; 
    cursor: center;
}
.menu{
    width: 35px;
    cursor: pointer;
    margin-left: 30px;
   
}
.encabezado nav{
    flex: 1;
    list-style: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 8px;
    margin-right: 10px;
    float: right;
   
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.inicio{
    display: flex;
    height: 80%;
    align-items: center;
}
.inicio1{
    flex-basis: 50%;
}
h1{
    color: rgba(149, 93, 187, 0.719);
    font-size: 70px ;
}
p{
    color: rgb(23, 24, 24);
    font-size: 15px;
    line-height: 26px;
}
button{
    width: 190px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 12px 0;
    background: #8b5d8fcb;
    border: 4;
    border-radius: 20px;
    outline: none;
    margin-top: 50px;
}

.multimedia{
    width: 200px;
    height: 230px;
    display: flex;
    align-items: ;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.multimedia1{
    background-image: url(../Imagenes/sombras.jpg);
}
.multimedia2{
    background-image: url(../Imagenes/labial.jpg);
}
.multimedia3{
    background-image: url(../Imagenes/delineador.jpg);
}
.multimedia4{
    background-image: url(../Imagenes/brochas.jpg);
}

.multimedia:hover{
transform: translateY(-10px);
}
h4{
    color:#030303;
    text-shadow: 0 0 5px #0f0f0f;
}
.multimedia p{
    text-shadow: 0 0 2px #e4e0e0;
    font-size: 10px;
}




