.formulario1 {
 background: url(formulario2.jpg);
}
.formulario{
    width: 300px;
    padding: 50px;
    background: #c099177c;
    margin: auto;
    margin-top: 40px;
    border-radius: 8%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.cuadro {
    width: 80%;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 1px  solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background: #f5f5f5d8;;

}
.formulario .botoncito {
    background: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    padding: 5%;
    border-radius: 5px;
    border: 1px  solid rgb(24, 24, 24);
    font-size: 20px;
}